<h2>NE-AM LOGAT PROFESOR</h2>


<h6> to do</h6>

<p>
    
    @Html.ActionLink("-> Manage my questions(add, edit, delete)", "Index","Questions");
</p>
<p>
    @Html.ActionLink( "   -> Manage my exams", "Index", "Exams");
    </p>
<p>
            -create am exam
            -edit create exam
            -send exam link to students
            -view exam feedbacks
</p>

<p>
    -to add more
</p>

