<h2>NE-AM LOGAT PROFESOR</h2>


<h6> to do</h6>

<p>
    
    @Html.ActionLink("-> Manage my questions(add, edit, delete)", "Index","Questions");
</p>
<p>
    @Html.ActionLink( "   -> Manage my exams", "Index", "Exams");
</p>
<p>
    -create am exam
</p>
<p>
    -edit create exam
</p>
<p>
    -send exam link to students
</p>

<p>
    -> view feedback
</p>



<p>
    -to add more
</p>

