@model List<Evaluation.ViewModels.StudGrades>

@{
    ViewData["Title"] = "Exam Status";
}

<br /><br />
      <p>
          <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left fa-2x"></i></a>
          <button type="button" class="btn btn-primary btn-sm float-right" onclick="Print()">Print</button>
      </p>

<table class="table table-hover table-sm table-bordered border='1' cellpadding='1'" id="PrintTable">
    <thead class="thead-light">
        <tr class="text-center">
            <th>  Student        </th>
            <th>  Group          </th>
            <th>  Grade          </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            @if (item.IsSolved == true && item.Grade == null)
            {
            <td>
                <a asp-action="Grade" asp-route-id="@item.studExamId" class="btn btn-primary btn-sm">Grade </a>
            </td>
             }
             @if (item.IsSolved == true && item.Grade != null)
             {
              <td>
                <button type="button" class="btn btn-outline-primary btn-sm">@Html.DisplayFor(modelItem => item.Grade)</button>
              </td>
             }
             @if (item.IsSolved == false)
               {
                 <td>
                    <button type="button" class="btn btn-dark btn-sm" disabled>In exam</button>
                 </td>
               }
        </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    function Print() {
        var divToPrint = document.getElementById("PrintTable");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }

</script>