@model Evaluation.Models.ExamQuestion

@{
    ViewData["Title"] = "SendExam";
}

<h2>SendExam</h2>


<p>
    here we can edit questions and send exam to stud
</p>
@*<h4>ExamQuestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendExam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="qId" />
            <input type="hidden" asp-for="eId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
