@model List<Evaluation.ViewModels.ExamCourse>

@{
    ViewData["Title"] = "My exams";
}

<br /><br />


<table class="table table-hover table-sm table-bordered">
    <thead class="thead-light">
        <tr class="text-center">
            <th>  Course         </th>
            <th>  Date           </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.courseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.examDate)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Group">
                        @if (item.solved == true)
                        {
                            <button type="button" class="btn btn-dark btn-sm" disabled>Submitted</button>
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.eId" class="btn btn-primary btn-sm">Take exam  </a>
                        }

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
